Binaries
DerivedDataCache
Intermediate
Saved
Windows
WindowsClient
WindowsServer
Linux
LinuxClient
LinuxServer
.vscode
.vs
.vsconfig
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace